/*Body*/
body {
    padding-top: 0px;
    padding-bottom: 1px;
    color: #5a5a5a;
    background: #cecccc;
    /* background: url(../files/bg.jpg) center top no-repeat #222; */
    background-size: contain;
}

/*Navbar*/
.nav-tool {
    background: #fffffff5;
    z-index: 3;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(84, 104, 120, 0.1);
}

.muinhon {
    margin: 12px 2px 0 -183px;
    background-color: cornsilk;
    border-radius: 40px;
    width: 356px;
}

.muinhon::after {
    content: "";
    display: block;
    border-width: 12px 20px;
    border-style: solid;
    border-color: transparent transparent #f1d132 transparent;
    position: absolute;
    top: -23px;
    left: 249px;
    z-index: 2;
}

.muinhon::before {
    content: "";
    display: block;
    width: 148px;
    height: 20px;
    right: 22px;
    position: absolute;
    top: -20px;
}

.muinhon-item::before {
    content: "";
    display: block;
    width: 144px;
    right: 134px;
    height: 20px;
    position: absolute;
    top: -20px;
}

.list-tool {
    width: 100%;
    margin: 20px 0 10px 0;
    box-shadow: 0 2px 3px 0 rgb(0, 0, 0, 0.1);
}

/*pading trên dưới 40px*/
.padding-text {
    padding: 40px 0;
}

/*Xem thêm*/
.show-more a {
    font-weight: 600;
    border-radius: 50px;
}

/*Banner*/
.page-banner-content {
    padding: 154px;
    text-align: center;
    display: block;
}

/*FOOTER*/
.footer {
    background-color: #fff3f1;
}

.footer_list li a {
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.footer_list li a:hover {
    color: #f1d132;
}

.ft-companyname {
    flex-direction: column;
    margin: 0 7px;
}

.box-social {
    background-color: rgb(94, 99, 99);
    padding: 10px;
}

.social {
    display: flex;
    justify-content: flex-end;
}

.social li a {
    padding: 0 0 0 20px;
    color: rgba(234, 234, 234, 0.496);
    font-size: 1.2rem;
}


/* <![CDATA[ */
.buttons_added {
    opacity: 1;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
}

.is-form {
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    height: 2.2rem;
    width: 1.9rem;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #ddd;
}

.is-form:focus,
.input-text:focus {
    outline: none;
}

.is-form.minus {
    border-radius: 4px 0 0 4px;
}

.is-form.plus {
    border-radius: 0 4px 4px 0;
}

.input-qty {
    background-color: #fff;
    height: 2.2rem;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 0;
}

.input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}