html {
    font-family: 'Roboto', sans-serif;
    /*làm mất dấu gạnh dưới chân*/
    box-sizing: border-box;
}

/*Body*/
body {
    padding-top: 0px;
    padding-bottom: 1px;
    color: #5a5a5a;
    /* background: #cecccc; */
    background: url(../files/bg.jpg) center top #afaeae;
    background-size: contain;
}

:root {
    --primary-color: #ffd029;
    --white-color: #fff;
    --black-color: #000;
    --gray-color: #5a5a5a;
    --text-color: white;
    --boder-color: #dbdbdb;
}

/*Navbar*/
.nav-tool {
    background: #fffffff5;
    z-index: 3;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0 4px 8px rgba(84, 104, 120, 0.1);
}

.muinhon {
    background-color: cornsilk;
    width: 356px;
}

.muinhon::after {
    content: "";
    display: block;
    border-width: 12px 20px;
    border-style: solid;
    border-color: transparent transparent #777777 transparent;
    position: absolute;
    top: -23px;
    left: 100px;
    z-index: 2;
}

.list-tool {
    width: 100%;
    margin: 20px 0 10px 0;
    box-shadow: 0 2px 3px 0 rgb(0, 0, 0, 0.1);
}

/*pading trên dưới 40px*/
.padding-text {
    padding: 40px 0;
}

/*Xem thêm*/
.show-more a {
    font-weight: 600;
    border-radius: 50px;
}

/*Banner*/
.page-banner-content {
    padding: 154px;
    text-align: center;
    display: block;
}

/* đánh giá sao */
.star_wrap {
    display: flex;
    flex-direction: row-reverse;
}

.star_wrap input {
    appearance: none;
}

.star_wrap input::before {
    content: "\2605";
    color: #ccc;
    font-size: 2rem;
    cursor: pointer;
}

.star_wrap input:checked::before,
input:checked~input::before {
    color: #ffb800;
}

/*  */


/*FOOTER*/
.footer {
    background-color: rgba(234, 234, 234, 0.496);
}

.footer_list li a {
    padding: 5px;
    font-size: 1rem;
    font-weight: 500;
}

.footer_list li a:hover {
    color: #f1d132;
}

.ft-companyname {
    flex-direction: column;
    margin: 0 7px;
}

.box-social {
    /* background-color: rgb(94, 99, 99); */
    background-image: url(../files/background2.png);
    padding: 10px;
}

.social {
    display: flex;
    justify-content: flex-end;
}

.social li a {
    padding: 0 0 0 20px;
    color: rgba(234, 234, 234, 0.496);
    font-size: 1.2rem;
}


/* <![CDATA[ */
.buttons_added {
    opacity: 1;
    display: inline-block;
    display: -ms-inline-flexbox;
    display: inline-flex;
    white-space: nowrap;
    vertical-align: top;
}

.is-form {
    overflow: hidden;
    position: relative;
    background-color: #f9f9f9;
    height: 2.2rem;
    width: 1.9rem;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
    border: 1px solid #ddd;
}

.is-form:focus,
.input-text:focus {
    outline: none;
}

.is-form.minus {
    border-radius: 4px 0 0 4px;
}

.is-form.plus {
    border-radius: 0 4px 4px 0;
}

.input-qty {
    background-color: #fff;
    height: 2.2rem;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    padding: 0;
}

.input-qty::-webkit-outer-spin-button,
.input-qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}